/* ================= Section 1================= */
.main-title {
    font-size: 3rem;
}

.sub-title {
    font-size: 1.8rem;
    line-height: 1.6;
}

.challenge-card ul li {
    font-size: 1.5rem;
    line-height: 1.8;
}

.bottom-message {
    font-size: 1.8rem;
    line-height: 1.5;
}
.challenge-card {
    padding: 25px;
}

.challenge-card ul {
    padding-left: 30px;
}

.challenge-card ul li {
    margin-bottom: 15px;
}
.tarot-container {
    width: 95%;
    max-width: 100%;
}
/* ================= Section 2================= */
